header {
  background-color: rgb(246, 154, 34);
  color: white;
  text-align: center;
} 
body{
  position: relative;
}
h1,
h2,
h3 {
  margin: 0;
}

section {
  display: inline-block;
  width: 75%;
  text-align: justify;
}
main {
  border: 2px red solid;
}

.main-heading {
  background-color: rgb(0, 0, 0);
  color: white;
}

.sub-heads {
  background-color: rgb(0, 0, 0, 0.3);

}

aside {
  position: absolute;
  top:50px;
  left:75%;
  display: inline-block;
  width: 24%;
  background-color: rgb(124, 122, 123);
  vertical-align: top;
}
#overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
#pop-up{
  position:fixed;
  height: 200px;
  width: 200px;
  background : azure;
  top:40%;
  left:40%;
  border-radius: 10px;
  line-height: 200px;
  text-align: center;
    z-index: 20;
}